.links1{
    position: absolute;
    height: 80px;
    width:80px;
    left:10%;
  }

  .links2{
    position: absolute;
    height:80px;
    width:80px;
    left:20%;
  }

  .links3{
    position: absolute;
    height:80px;
    width:80px;
    left:30%;
  }

  .mainheader{
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: Georgia;
    font-style: italic;
    font-size:100px;
    font-weight: bolder;
    color: gray;
  
  }

  .mainheader1{
    position: absolute;
    top: 75%;
    left: 50%;
    font-family: Georgia;
    font-style: italic;
    font-size:100px;
    font-weight: bolder;
    color:orange;
  }
  
  .mainheader1:hover{color:black;}
  
  .s0{
      position: absolute;
      left:8%;
      top:95%; 
  }

  .header{
    position: absolute;
    top: 100%;
    left: 5%;
    font-family: Georgia;
    font-style: italic;
	  font-size:100px;
    font-weight: bolder;
	
  }

  .header2{
    position: absolute;
    top: 100%;
    left: 63%;
    font-family: Georgia;
    font-style: italic;
    font-size:100px;
    font-weight: bolder;
  }

   .header3{
    position: absolute;
    top: 185%;
    left: 5%;
    font-family: Georgia;
    font-style: italic;
    font-size:100px;
    font-weight: bolder;
  
  }

    .header4{
    position: absolute;
    top: 188%;
    left: 53%;
    font-family: Georgia;
    font-style: italic;
    font-size:70px;
    font-weight: bolder;
  
  }

  .who{
	 position: absolute;
   top: 115%;
   left: 10%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-style: italic;
   font-size:50px;
   color:orange;	
	}

 .who2{
   position: absolute;
   top: 115%;
   left: 69%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-style: italic;
   font-size:50px;
   color:orange;  
  }
   .who3{
   position: absolute;
   top: 200%;
   left: 10%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-style: italic;
   font-size:50px;
   color:orange;  
  }
  .who4{
   position: absolute;
   top: 200%;
   left: 58%;
   font-family: Georgia, "Times New Roman", Times, serif;
   font-style: italic;
   font-size:40px;
   color:orange;  
  }

	.ash{
  	position: absolute;
    top: 130%;
    left: 5%;
	  padding:20px;
	  height:200px;
  	width:200px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
	  font-size:50px;
  	color:orange;
	  border:2px solid black;	
	}

  .aboutme{
    position: absolute;
    top: 125%;
    left: 20%;
    padding:20px;
    height:200px;
    width:200px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    font-size:13px;
 
  }



p{
  color:#525252;
  font-size:12px;
}

.skillbar {
  position:relative;
  left:65%;
  top:126%;
  display:block;
  margin-bottom:15px;
  width:30%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:300px;
  font-weight:bold;
  font-size:13px;
  color:black;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}


.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}

.hr1{
  position: absolute;
  top:100%;
}

.proj{
  position: absolute;
  top:215%;
  left:5%;
}
.award{
  position: absolute;
  top:210%;
  left:75%; 
}
.award1{
  position: absolute;
  top:215%;
  left:54%; 
}
.b1{
  position:relative;
  width:50px;
  height:50px; 
}
.s1{
  position: absolute;
  left:8%;
  top:179%;
}
.s2{
  position: absolute;
  left:8%;
  top:280%;
}

.a{color: black;}
.a:hover{
  color:orange;
}


a{color: red;}