<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>portfolio</title>
<style>

ul {
	position: absolute;
	top:15em;
	left:5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:{
    background-color:darkblue;
}

</style> 
</head>
<body>
<ul>
  <li><a href="https://github.com/yagamiash/"><img src="{{ url_for('static', filename='github.png') }}" width="30" height="30"/></a></li>
  <li><a href="https://in.linkedin.com/in/ashik-poovanna-979b66118"><img src="{{ url_for('static', filename='linkedin.png') }}" width="30" height="30"/></a></li>
  <li><a href="https://twitter.com/AshikAshobot"><img src="{{ url_for('static', filename='twitter.png') }}" width="30" height="30"/></a></li>
</ul>

<img src="{{ url_for('static', filename='ash_july17.png') }}">



</body>
